terraform/terraform
terraform/.terraform
ssh-keypairs/*
!ssh-keypairs/placeholder.txt
*.retry
ansible/roles/kubernetes-master-HA/files/certs-fetched-from-primary-master/*
!ansible/roles/kubernetes-master-HA/files/certs-fetched-from-primary-master/placeholder.txt
